<div class="header">
    <div class="logo">
        <img src="{{'img.webp' | asset_url}}" alt="">
    </div>
    <h1>{{shop.name}}</h1>
    {% render 'header_menu' %}
    
    {% if settings.show_search %}
        <form action="/search">
            <input type="search" name="q">
            <button type="submit">Search</button>
        </form>
    {% endif %}
</div>